<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
</head>

<body>
    <h2>Welcome to my App</h2>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos deleniti nobis aperiam pariatur accusantium tempora
        blanditiis quod iusto molestias magni, veritatis ut autem veniam quaerat, saepe nostrum sequi asperiores obcaecati?</p>
    <script src="./javascript.js"></script>

</body>

</html>