<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">

</head>

<body>
    <h2>User Profile</h2>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias error, suscipit quam praesentium maxime repellendus
        itaque eos distinctio fugiat sunt dolore natus magni. Quis dolorum ea distinctio in maxime veritatis.</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident ipsam aliquid temporibus enim officiis, iste aperiam
        accusantium est illum. Vitae amet animi ipsa explicabo quas, corporis aspernatur quod aperiam fuga!

    </p>

    <ol>
        <li>X</li>
        <li>Z</li>
    </ol>

    <script src="./javascript.js"></script>

</body>

</html>